version: '3.8'

services:
  web:
    build: .
    container_name: php_apache_large_upload1
    ports:
      - "8380:80"
    volumes:
      - ./app:/var/www/html
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.myapp.rule=Host(`website.localhost`)"
      - "traefik.http.routers.myapp.entrypoints=web"
      - "traefik.http.middlewares.uploadlimit.buffering.maxRequestBodyBytes=10737418240"
      - "traefik.http.routers.myapp.middlewares=uploadlimit"
      - "traefik.http.services.myapp.loadbalancer.server.port=8280"
